[defaults]
inventory           = inventory/hosts.ini
roles_path          = roles
host_key_checking   = False
retry_files_enabled = False
stdout_callback     = yaml
callbacks_enabled   = timer, profile_tasks

[vault]
# vault_password_file = .vault_pass


#[defaults]
#inventory = ./inventory
#host_key_checking = False
#retry_files_enabled = False
#stdout_callback = yaml
#timeout = 30
#interpreter_python = auto_silent

#[privilege_escalation]
#become = True
#become_method = sudo
#become_ask_pass = False

#[ssh_connection]
#pipelining = True

